@use "sass:math";
@use "sass:color";

/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/
/*        MAIN-ACCENT COLOURS          */
/*-------------------------------------*/

$clr-beige: hsl(22, 65%, 57%);
$clr-almost-black: hsl(0, 0%, 6%);
$clr-light-gray: hsl(0, 0%, 95%);
$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-peach: hsl(21, 94%, 75%);
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);

.container {
    padding-block: 2rem;
    padding-inline: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}