@use "sass:math";
@use "sass:color";
@use "../base";
@use "../utils";

.primary-nav-list {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin-block-start: 3rem;
}

.primary-nav-list-item {
	background-color: base.$clr-very-light-gray;
	border-radius: 8px;
}

.primary-nav-image {
    position: relative;
	width: 50%;
	margin: auto;
    top: -4rem;
}

.primary-nav-heading {
    text-align: center;
}