@use "sass:math";
@use "sass:color";
@use "../base";
@use "../utils";

.primary-nav-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-block-start: 4.5rem;

    @include utils.mQ(38.75rem) {
        flex-direction: row;
        gap: 1rem;
    }
}

.primary-nav-list-item {
    background-color: base.$clr-very-light-gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-nav-image {
    position: relative;
    width: 38%;
    margin: auto;
    top: -2rem;
    transform: scale(1.6);
}

.primary-nav-heading {
    text-align: center;
    position: relative;
    top: -2rem;
}