@use "sass:math";
@use "sass:color";
@use "../base";
@use "../utils";

.product-title {
    font-size: base.$fs-14;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    font-weight: 400;
    margin-block: 1rem;

    @include utils.mQ(61.25rem) {
        text-align: left;
    }

}

.product-title-secondary {
    font-size: base.$fs-28;
    color: base.$clr-almost-black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;

    @include utils.mQ(38.75rem) {
        font-size: base.$fs-40;
        letter-spacing: 1.43px;
    }

    @include utils.mQ(61.25rem) {
        text-align: left;
    }
}

.shared-products {

    @include utils.mQ(61.25rem) {
        display: flex;
        justify-content: space-around;
        gap: 2.5rem;

        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
}

.shared-product-text {
    font-size: base.$fs-15;
    color: base.$clr-almost-black;
    line-height: 1.7;
    opacity: 0.9;
    text-align: center;
    padding-block: 1.25rem;

    @include utils.mQ(61.25rem) {
        text-align: left;
    }
}

.shared-products {
    padding-block: 0.75rem;
}

.shared-products-image-container {
    margin-block-start: 2rem;

    @include utils.mQ(38.75rem) {
        flex: 1 1 40%;
    }
}

.shared-products-content {
    margin-block: 2rem;
    max-width: 35rem;
    margin-inline: auto;

    @include utils.mQ(38.75rem) {
        flex: 1 1 60%;
    }

    @include utils.mQ(61.25rem) {

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.shared-products-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.product-detail {
    @include utils.mQ(38.75rem) {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
}